<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>IEEE PES VIT</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<meta name="title" content="IEEE POWER ENERGY SOCIETY VIT">
	<meta name="robots" content="index,dofollow">
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" type="image/png" href="images/09PES-1.ico" />
	<link rel="manifest" href="/manifest.json">
	<meta name="theme-color" content="#708090">
	<meta property="og:type" content="website" />
	<meta name="og:description" content="Official website for IEEE PES-VIT. We are a student chapter in VIT.
		Our vision is to educate the society about the impact of engineering on sustainability and energy sources.">
	<meta property="og:image" content="img/IEEE_PES_LOGO-01.sv" />
	<meta property="og:title" content="IEEE - POWER ENERGY SOCIETY" />
	<meta property="og:url" content="https://www.ieeepesvit.ml" />
	<meta name="description" content="We are a student chapter in VIT.
		Our vision is to educate the society about the impact of engineering on sustainability and energy sources.">
	<meta name="keywords"
		content="ieeepesvit,ieee pes ,ieee pes vit,Institute of Electrical and Electronics Engineers,engineers,electronics,ieee,pes,power and energy society,power and energy ,vit,vellore institute of technology,vellore,blogs,club,chapters,clubs and chapters,IEEE-PES,power,energy">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
	<meta name="google-site-verification" content="Drf8W5Mz0mvrgzfDKZyA0BzN8ovIwu13FUGR-VAKI3k" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-188673615-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-188673615-2');
	</script>

	<style>
		.blogs img {
			height: 0;
			width: 0;
		}
	</style>
</head>

<body>
	<nav class="navbar bg-light navbar-light navbar-expand-lg fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/"><img src="img/IEEE_PES_LOGO-01.svg" alt="IEEE PES VIT LOGO"
					title="logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul style="font-family: auto;" class="navbar-nav ml-auto">
					<li class="nav-item"><a href="/" class="nav-link active">Home</a></li>
					<li class="nav-item"><a href="/blogs" class="nav-link">Blog</a></li>
					<li class="nav-item"><a href="/about" class="nav-link">About</a></li>
					<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
					<li class="nav-item"><a href="/events" class="nav-link">Chapter Events</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div style="margin-top:5rem" id="carousel" class="carousel slide" data-ride="carousel" data-interval="5500">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img style="object-fit:cover" src="images\ieee-pes-power-future2x-min.jpg" alt="ieee-pes-power-future2x"
					class="w-100 main-image">
				<div class="carousel-caption">
					<div class="container">
						<div class="row justify-content-center">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="padding-top:2rem">
		<h1 style="font-size: x-large;">Up coming Events</h1><br>
		<div class="row">
			<div class="col-lg-7 col-md-5">

				<a href="/register">
					<h4>Industrial Contribution Towards Sustainable Development</h4>
				</a>
				<br>
				<p style="font-size: large;">This world sustainable energy day 27th Febuary,<br> dive into the world of sustainable energy practices with <br>
					 <a target="_blank" href="https://www.linkedin.com/in/dr-amit-chakraborty-55107120/"><b><span style="font-size: 25px;"> Mr.Amit Chakraborty</span></b></a>,<br> an environment engineer and a leading key industry expert.
					 <br><br>
					<b>
						 <span style="font-size: 25px;">Date: 27<sup>th</sup>,Febuary</span>
					 <br><br>
					 Time: 11 am
					</b>
					 <br>
					 <span style="font-size: 25px;"><a href="/register">Register Here</a></span></p>
			</div>
			<div class="col-lg-5 col-md-6">
				<a href="/register"><img style="max-width:100%;" src="images/sustainabledevelopment.png"
						alt="sustainable development"></a><br>

			</div>

		</div>
		<br>
		<hr>
	</div>


	<div class="container blogs">
		<h1 style="margin-top: 15px;font-size: x-large;">Latest from the Blog</h1>
		<div class="row" style="margin: 0 !important">
			<%  posts.forEach(function(post){  %>
			<div class="col-lg-4 col-md-6 my-4" style="margin-top: 0.5rem !important;">

				<div style="height: 295px; overflow: hidden;">
					<h4 class="my-4">“<%=post.title%>”</h4>
					<p style="font-size: 16px !important"><%-post.text.substring(0,500)%></p>
				</div><br>
				<a href="/blog/<%=post.link%>">Continue Reading <img src="images\arrow.svg" alt="navigate"></a><br>
				<%=post.date.substring(0,15)%>

			</div>

			<% }) %>

		</div>
		<a href="/blogs">
			<p style="text-align: center;"><button type="button" class="btn btn-outline-success">Read more
					blogs</button></p>
		</a>
		<br>
	</div>

	<div class="container" style="margin-top:25px">
		<div class="row">
		  <div class="col-lg-12">
			<hr style="margin-top: 30px;">
		  </div>
		</div>
	  </div>

	<div class="container subscribe">
		<div class="row">
			<div class="col-lg-6">
				<h2>Get Updates</h2>
				<p>Want to stay updated withe the latest news about IEEE PES VIT? Enter your email address.</p>
			</div>
			<div class="col-lg-6">
				<form action="/subscribe" method="post">
					<div class="input-group mb-3">
 				 	<input name="email" type="email" class="form-control mx-1" placeholder="Email address" aria-label="email" required>
  					<button class="btn btn-outline-success mx-1" type="submit" id="button-addon2">Get Updates</button>
				</div>
				</form>
				<%if(message){%>
				<div class="alert <%=message.role%>" role="alert">
					<%=message.message%>
				</div>
				<%}%>
			</div>
			
		</div>
		
	</div>



	
	<%-include("partials/footer")-%>



				<!-- Script Source Files -->

				<!-- jQuery -->
				<script src="js/jquery-3.5.1.min.js"></script>
				<!-- Bootstrap 4.5 JS -->
				<script src="js/bootstrap.min.js"></script>
				<!-- Popper JS -->
				<script src="js/popper.min.js"></script>
				<!-- Font Awesome -->
				<script src="js/all.min.js"></script>
				<!--preloader-->
				<script src="js/homeservice.js"></script>

				<script type="text/javascript">

				</script>
</body>

</html>